.chart_div {
    display: inline;
}

body {
     font-family: sans-serif;   
}

@media (min-width: 1600px) {

	.chart_div:nth-child(even) {
		float:right;
	}

	.chart_div:nth-child(odd) {
		float:left;
	}

}